.border.rounded.mt-1.w-100{class: "#{"ml-2" if comment.parent.present?}"}
  .p-2
    .font-weight-bold
      = comment.user.username.capitalize
      = "-"
      = l comment.created_at, format: :short
    .mt-2
      = simple_format(comment.text, {}, wrapper_tag: 'div')