%h4= PackageComment.model_name.human(count: 2)

- if package_comments.any?
  - package_comments.where(parent_id: nil).order(:created_at).each do |comment|
    = render 'package_comments/comment_box', comment: comment

    - comment.child_comments.each do |child_comment|
      .d-flex.align-items-center
        %i.fas.fa-level-up-alt{style: "transform: rotate(90deg);"}
        = render 'package_comments/comment_box', comment: child_comment
- else
  %p= t '.no_comments'