%h2= t(".sign_up")
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :username, required: true, autofocus: true, input_html: { autocomplete: "username" }
    = f.input :email, required: true, input_html: { autocomplete: "email" }
    = f.input :password,
      required: true,
      hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
      input_html: { autocomplete: "new-password" }
    = f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" }
  .form-actions
    = f.button :submit, t(".sign_up"), class: 'btn btn-primary'
= render "devise/shared/links"
