%h1.m-0= @package.title
= link_to package_path(@package) do
  %i.fas.fa-arrow-left
  = t('helpers.links.back')

%p.mt-4= t('.feedback_negative').html_safe

.card
  .card-header= t '.please_read'
  .card-body
    %p= t '.please_only_dislike_if'
    %p.font-weight-bold= t '.bad_reasons'
    %ul
      %li= t '.bad_reason_1'
      %li= t '.bad_reason_2'
    %p.font-weight-bold= t '.good_reasons'
    %ul
      %li= t '.good_reason_1'
      %li= t '.good_reason_2'
      %li= t '.good_reason_3'

    = simple_form_for @package_like || PackageLike.new, url: package_package_likes_path(@package), method: :post do |f|
      = f.input :impact, as: :hidden, input_html: { value: 'negative' }
      = f.input :reason
      = f.submit t('.i_swear'), class: 'btn btn-danger'
      = link_to t('.nevermind'), package_path(@package), class: 'btn btn-success'