/**
 * Allow multiline label that looks like input (textarea)
 */
label.form-control {
  height: unset;
}

/**
 * Remove the green check mark when an input is valid.
 */
.form-control.is-valid {
  background-image: unset !important;
}

/**
 * Increase compatibility of custom-select of bootstrap.
 * Workaround for Safari
 */
.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}