$footer_height: 60px;

html.with-footer {
  position: static !important;
  min-height: 100%;
  height: 100%;

  body {
    height: auto;
    position: relative;
    min-height: 100%;

    #page-content-wrapper, #sidebar-wrapper {
      padding-bottom: $footer_height;
    }

    .footer {
      position: fixed;
      z-index: 1;
      bottom: 0;
      width: 100%;
      height: $footer_height;
      line-height: $footer_height;
      border-top: 1px solid $gray-400;
    }
  }
}