/**
 * Sidebar styling
 *
 * sidebar-toggled: When screen > 768px, toggled means closed, otherwise open.
 */
$sidebar_width: 16rem;

body {
  overflow-x: hidden;
}

#sidebar-wrapper, #page-content-wrapper {
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#wrapper {
  overflow-x: hidden;

  #sidebar-wrapper {
    margin-left: -$sidebar_width; /* mobile is closed when not toggled */

    @media (min-width: 768px) {
      margin-left: 0; /* desktop is open when not toggled */
    }
  }

  #page-content-wrapper {
    margin-left: 0; /* mobile is closed when not toggled */

    @media (min-width: 768px) {
      margin-left: $sidebar_width; /* desktop is open when not toggled */
    }
  }

  &.sidebar-toggled {
    #sidebar-wrapper {
      margin-left: 0; /* mobile is open when toggled */

      @media (min-width: 768px) {
        margin-left: -$sidebar_width; /* desktop is closed when toggled */
      }
    }

    #page-content-wrapper {
      margin-left: $sidebar_width; /* mobile is open when toggled */

      @media (min-width: 768px) {
        margin-left: 0; /* desktop is closed when toggled */
      }
    }
  }
}

#sidebar-wrapper {
  /* Display vertical line to delimiter sidebar
  border-right: 1px solid $gray-700;
  */
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  margin-left: -$sidebar_width;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: calc(#{$sidebar_width} - 1px);
}

#page-content-wrapper {
  min-width: 100vw; /* this translates the page content outside screen */
  min-height: 100vh;
  height: 100%;
  margin-left: $sidebar_width;

  @media (min-width: 768px) {
    /* this "stretch" the page content */
    min-width: 0;
    width: 100%;
  }

  /**
   * Display shadow above the sidebar
   */
  box-shadow: 0px 0px 5px 0px black;
  z-index: 1;
}
