%form{method: "get"}
  .row
    .col-md-6
      .input-group.mb-3
        %select.custom-select{name: "filter"}
          - %w[title package_code author category region download_count].each do |filter|
            %option{value: filter, selected: params[:filter] == filter}= Package.human_attribute_name filter
        %select.custom-select{name: "order"}
          %option{value: 'asc', selected: params[:order] == "asc"}= t '.ascending'
          %option{value: 'desc', selected: params[:order] == "desc"}= t '.descending'
        .input-group-append
          %button.btn.btn-secondary
            %i.fas.fa-sort
    .col-md-4.offset-md-2
      .input-group.mb-3
        %input.form-control{placeholder: t('.search'), name: 'search', value: params[:search]}
        .input-group-append
          %button.btn.btn-secondary
            %i.fas.fa-search