= simple_form_for @package do |f|
  - if f.object.info.blank? && f.object.new_record?
    = f.input :url

    = f.submit t('helpers.links.next'), class: 'btn btn-primary'
  - else
    = f.input :url, readonly: true
    = f.input :package_code, readonly: true
    = f.input :title
    = f.association :category, include_blank: t('helpers.forms.select_list')
    = f.association :region, include_blank: t('helpers.forms.select_list')
    .form-group
      %label= Package.human_attribute_name :license_type
      %label.form-control{readonly: true}= f.object.info_license_name || '&nbsp;'.html_safe
    = f.input :rap_name, readonly: true
    = f.input :rap_data
    = f.input :description, input_html: { rows: 5 }
    = f.input :author, readonly: true

    = f.submit t('helpers.links.save'), class: 'btn btn-primary'

  = link_to t('helpers.links.back'), packages_path, class: "btn btn-secondary ml-2"
