- model_class= Package

= render 'packages/filters'

%small= t '.found_pkgs', count: @packages.count

%table.table.table-striped.table-responsive
  %thead
    %tr
      - if policy(Package).edit?
        %th= "Actions"
      %th= model_class.human_attribute_name :name
      %th

  %tbody
    - packages.each do |package|
      %tr
        - if policy(package).edit?
          %td.text-nowrap
            = link_to edit_package_path(package), class: "btn btn-sm btn-primary mx-1" do
              %i.fas.fa-pen
            = link_to package_path(package), class: "btn btn-sm btn-danger mx-1",
                method: :delete, data: { confirm: t('devise.registrations.edit.are_you_sure') } do
              %i.fas.fa-trash
        %td.w-100
          = link_to package.title, package_path(package)
          %br
          = "#{package.package_code} - #{package.category.name} - #{package.region.code}"
        %td.text-nowrap
          = t '.posted_by', name: package.author
          %br
          .d-flex
            %span.mr-2
              %i.fas.fa-download{title: t('.downloaded_count', count: package.download_count)}
              = package.download_count
            %span.mr-2
              %i.far.fa-smile
              = package.success_rate
            %span
              %i.fas.fa-comment.ml-2{title: t('.commented_count', count: package.package_comments.count)}
              = package.package_comments.count

= will_paginate @packages, renderer: WillPaginate::ActionView::BootstrapLinkRenderer