
.card
  .card-body
    %h5.card-title.text-center.mb-4= t '.title'
    %p.font-weight-bold.card-text= t '.why_should_not'
    %ul
      %li= t '.why_should_not_1'
      %li= t '.why_should_not_2'
      %li= t '.why_should_not_3'
      %li= t '.why_should_not_4'
    %p.font-weight-bold.card-text= t '.why_should'
    %ul
      %li= t '.why_should_1'
      %li= t '.why_should_2'
      %li= t '.why_should_3'

    .text-center.mt-5
      = simple_form_for :download, url: download_database_packages_path, method: :post do |f|
        = f.submit t('.download'), class: "btn btn-primary text-center"