%h4= "#{package.title} - #{package.package_code}"
= link_to package_path(package) do
  %i.fas.fa-arrow-left
  = t('helpers.links.back')

.card.mt-4
  .card-header= t '.download'
  .card-body
    %p= t '.download_instruction'
    - unless package.ps4?
      = link_to t('.download'), package.url, class: "btn btn-primary", rel: 'nofollow'
      - if package.rap_data.present?
        = link_to t('.download_rap'), download_rap_package_path(package), class: "btn btn-warning", rel: 'nofollow'
      - else
        = link_to t('.download_rap'), '#', class: 'btn btn-warning disabled', disabled: true
    - else
      %p= t('.package_has_n_part', count: package.info_parts.length).html_safe
      - package.info_parts.each_with_index do |url, index|
        = link_to t('.download_part_n', number: index + 1), url, class: "btn btn-primary my-1", rel: 'nofollow'


.card.mt-3
  .card-header= t '.not_downloading'
  .card-body
    %p= t '.not_downloading_instruction'
    %pre.text-wrap.border.p-3.bg-light
      - unless package.ps4?
        = package.url
      - else
        = package.info_parts.join("<br><br>").html_safe