- model_class= Package

.d-flex.justify-content-between.flex-column.flex-md-row.align-items-center.flex-wrap
  %h1= model_class.model_name.human

  %div
    - like_class = package.like?(current_user) ? 'btn-success' : 'btn-outline-success'
    - dislike_class = package.dislike?(current_user) ? 'btn-danger' : 'btn-outline-danger'
    = link_to like_package_package_likes_path(package), class: "btn #{like_class} mr-1" do
      %i.far.fa-thumbs-up
      = t '.worked_for_me'
    = link_to dislike_package_package_likes_path(package), class: "btn #{dislike_class}" do
      %i.far.fa-thumbs-down
      = t '.broken_for_me'


= show_field package, :package_code
= show_field package, :title
= show_field package, [:category, :name]
= show_field package, [:region, :name]
= show_field package, :description
- unless package.info_platform == "PS4"
  = show_field(package, :info_license_name)
= show_field(package, :info_package_size) { |text| number_to_human_size(text, precision: 2, significant: false) }
= show_field package, :author
= show_field package, :download_count


= link_to packages_path, class: 'btn btn-primary mr-2' do
  %span.glyphicon.glyphicon-list-alt
  = t('helpers.links.back')

- if policy(package).edit?
  = link_to edit_package_path(package), class: 'btn btn-secondary mr-2' do
    %span.glyphicon.glyphicon-pencil
    = t('helpers.links.edit')

= link_to t('.download'), download_package_path(package), class: 'btn btn-success', rel: 'nofollow'

-#
  .mt-4
    = render 'package_comments/index', package_comments: package.package_comments