.card.mb-3
  .card-body
    %h2.card-title.text-center= t '.title'
    %small.text-center.d-block= t '.aka_faq'

#faq.accordion
  .card
    .card-header.bg-white
      %h2.mb-0
        .btn.btn-link.text-left{"data-target": "#faq1", "data-toggle": "collapse"}
          How do I activate a C00/Demo that has a free license?
      #faq1.collapse{"data-parent": "#faq"}
        .card-body.bg-light
          %p Activating a C00/Demo package is very easy and doesn't require a rap file. It can be done using <b>ReActPSN</b> or <b>PSNPatch</b>.
          %p <b>ReActPSN</b> : Run the homebrew while pressing and holding circle on your controller.
          %p <b>PSNPatch</b> : Run PSNPatch and press R1. It should displays a list of the games that have been unlocked.

  .card
    .card-header.bg-white
      %h2.mb-0
        .btn.btn-link.text-left{"data-target": "#faq2", "data-toggle": "collapse"}
          How do I activate a PSN package with a RAP file?
      #faq2.collapse{"data-parent": "#faq"}
        .card-body.bg-light
          %p
            Activating a package using a rap file requires few steps. It can be done with <b>ReActPSN</b> or <b>PSNPatch</b>. However,
            I will only describe how to do it with <b>ReActPSN</b>.
          %ol
            %li Format a USB key in FAT32.
            %li Create the folder 'exdata' at the root of the USB key.
            %li
              Move the corresponding RAP file for the games you want to activate in the exdata folder.
              .text-danger Warning: Do not rename rap files ! You need to leave their original ugly name.
            %li Connect the USB key in the right USB port of the PS3 (the closest to the bluray drive).
            %li Delete the ReActPSN user on your PS3 if it exists.
            %li Create the account 'aa' (without quotes) and open the account.
            %li Run ReActPSN and the screen should go black, then you should hear beeps and then the PS3 should reboot.
            %li The user 'aa' should be gone now and the account 'ReActPSN' automatically created.
            %li You're done !
