.card.mb-3
  .card-body.my-3
    %h2.card-title.text-center.m-0= t '.title'

.card.mb-3
  .card-body
    %h3.card-title.text-center= t '.donate'
    %p= simple_format t('.donate_text')
    .text-center
      %form{action: "https://www.paypal.com/cgi-bin/webscr", method: "post", target: "_top"}
        %input{type: "hidden", name: "cmd", value: "_s-xclick"}
        %input{type: "hidden", name: "hosted_button_id", value: "WJJNWUAB85W44"}
        %input{type: "image", src: "https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif", border: "0", name: "submit", alt: "PayPal - The safer, easier way to pay online!"}
        %img{alt: "", border: "0", src: "https://www.paypalobjects.com/fr_CA/i/scr/pixel.gif", width: "1", height: "1"}

.card.mb-3
  .card-body
    %h3.card-title.text-center= t '.contribute'
    %p= simple_format t('.contribute_text')
    .text-center
      = link_to t('.contribute'), "https://bitbucket.org/Jamesst20/psndlv4", class: "btn btn-primary", target: "_blank"