.card
  .card-body
    %h3.card-title.text-center.mb-4= t '.title'
    %p.card-text
      PSNDL <small>(PlayStation Network Download)</small> is the friendliest place to download PSN content for free
      for your PlayStation.

    %ul.timeline
      %li
        %b 2014
        %p
          This is the year the first version of PSNDL was born. It all started when PSNStuff announced it was
          stopping its development. Back then, I was using this tool a lot and I was always suffering by the fact that it
          was not cross platform compatible. It is for that specific reason I had chosen to rewrite the tool under the brand
          of PSNDLv0.1 in Java.
      %li
        %b 2015
        %p
          A year later, I could no longer handle all the requests to add new packages. It felt like it needed
          a way to let the community contribute on its own. This is why PSNDLv2, the first web version came out. However,
          it was lacking so many features that by the end of the year I chose to rewrite it in Symfony and rename it to
          PSNDLv3.
      %li
        %b 2021
        %p
          Six years later, the website is getting old again. Its technology stack is deprecated and getting
          harder to maintain. It's also lacking many features that we expect to have now: what about social features
          such as adding comments, thumbs up or down, ... This is where PSNDLv4 is coming strong. Rewritten in Ruby on
          Rails, it will be much easier and less time consuming to add new functionnalities over the time. Also, i'm hopping
          to reach more developer from the community: after all, we have a big <b>0</b> contributor to beat.
        %p
          The package database also increased from 6098 packages to over 23 000 packages.
      %li
        %b Coming next
        %p.mb-0 Include more features
        %ul.pt-0
          %li.text-line-through Increase database content
          %li.text-line-through Keep track of errors (exceptions) any user had using Airbrake.
          %li Social abilities: Comments
          %li.text-line-through Thumbs up/down to let people know if the package work.
          %li Faster database download: 23k packages is taking much longer than 6k to build.
          %li Faster approval process
          %li More contributors

    %p.mt-4
      Things can only get better :)