ul.timeline {
  list-style-type: none;
  position: relative;

  &:before {
    content: ' ';
    background: $secondary;
    display: inline-block;
    position: absolute;
    left: 10px;
    width: 2px;
    height: 100%;
  }

  & > li {
    &:before {
      content: ' ';
      background: white;
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 2px solid $primary;
      left: 0;
      width: 20px;
      height: 20px;
    }
  }
}
