.alert.alert-danger
  %h4.alert-heading= t '.title'
  %p= t '.error_message'
  %hr
  %p.mb-0
    Date:
    = Time.zone.now
  %p.mb-0
    User:
    = current_user&.email || "Unauthenticated"
  %p.mb-0
    Url:
    = "#{request.protocol}#{request.host_with_port}#{request.fullpath}"