%nav.navbar.navbar-light.bg-white.navbar-expand
  %button#menu-toggle.btn.btn-primary
    %i.fas.fa-bars
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
    %ul.navbar-nav.mr-2
      - if user_signed_in?
        %li.nav-item
          = link_to destroy_user_session_path(authenticity_token: form_authenticity_token), method: :delete, class:"nav-link" do
            %i.fas.fa-sign-out-alt
            = t 'layouts.application.sign_out'
      - else
        %li.nav-item
          = link_to new_user_session_path, class:"nav-link" do
            %i.fas.fa-sign-out-alt
            = t 'layouts.application.sign_in'