#sidebar-wrapper.bg-light
  .sidebar-heading= t 'app_name'
  .list-group.list-group-flush
    %a.list-group-item.list-group-item-action.bg-light{:href => root_path}
      %i.fa.fa-lg.fa-home
      = t '.home'
    %a.list-group-item.list-group-item-action.bg-light{:href => packages_path}
      %i.fa.fa-th
      = Package.model_name.human(count: 2)
    %a.list-group-item.list-group-item-action.bg-light{:href => under_approval_packages_path}
      %i.fa.fa-th-large
      = t '.packages_under_approval'
    %a.list-group-item.list-group-item-action.bg-light{:href => new_package_path}
      %i.fa.fa-lg.fa-plus
      = t '.submit_package'
    %a.list-group-item.list-group-item-action.bg-light{:href => database_packages_path}
      %i.fa.fa-lg.fa-download
      = t '.download_db'
    %a.list-group-item.list-group-item-action.bg-light{:href => faq_path}
      %i.fa.fa-lg.fa-question-circle
      = t '.faq'
    %a.list-group-item.list-group-item-action.bg-light{:href => help_or_thank_path}
      %i.fa.fa-lg.fa-plus.fa-beer
      = t '.help_or_thank'