!!!
%html.with-footer
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", "content" => "width=device-width, initial-scale=1.0"}/
    - if @norobot
      %meta{:name => "robots", "content" => "noindex"}/
    %title PSNDLv4
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  %body{"data-controller": controller_name}

    #wrapper.d-flex
      = render "layouts/sidebar"

      #page-content-wrapper
        = render "layouts/header"

        - if flash[:notice].present?
          .alert.alert-success= flash[:notice]
        - if flash[:warning].present?
          .alert.alert-warning= flash[:warning]
        - if flash[:alert].present?
          .alert.alert-danger= flash[:alert]

        .p-3.p-md-5
          = yield

    %footer.footer.bg-light.text-dark
      %span.ml-3
        = "Copyright © 2015-#{Time.zone.now.year} - Jamesst20"

    %script{type: "text/javascript", :src => "https://cdn.tiny.cloud/1/p3sjqtw8z108t3dnl2a77wcx9s4c2iqrru2aa17o26uf26e5/tinymce/5/tinymce.min.js"}
